@font-face {
    font-family: 'GyeonggiMillenniumTitle';
    src: url('./Title_Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'GyeonggiMillenniumTitle';
    src: url('./Title_Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'GyeonggiMillenniumTitle';
    src: url('./Title_Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'GyeonggiMillenniumTitle';
    src: url('./TitleV.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}