.aurora-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.aurorabg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  z-index: 1;
}
.aurora-container > canvas {
  z-index: 0;
}

@media (max-width: 768px) {
  .aurorabg{
    height: 60%;
  }
}

@media (max-width: 520px) {
  .aurorabg{
    height: 50%;
  }
}
